/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('ColabThi-webfont.eot');
    src: url('ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('ColabThi-webfont.woff') format('woff'),
         url('ColabThi-webfont.ttf') format('truetype'),
         url('ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ColaborateMediumRegular';
    src: url('ColabMed-webfont.eot');
    src: url('ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('ColabMed-webfont.woff') format('woff'),
         url('ColabMed-webfont.ttf') format('truetype'),
         url('ColabMed-webfont.svg#ColaborateMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 62.5%; /* font-size 1em = 10px */
	line-height: 1.25;
	background: #fff;
	color: #333;
}

#container {
	margin: 20px 40px;
}

h1 {
	font-size: 4.8em;
}

h2 {
	font-size: 3.6em;
}

h3 {
	font-size: 2.4em;
}

h4 {
	font-size: 2.1em;
}

h5 {
	font-size: 1.8em;
	
}

h6 {
	
	font-size: 1.6em;
}

p {
	font-size: 1.4em;
	margin: 15px 0;
}


li {
	font-size: 1.4em;
}

#title {
	margin-bottom: 20px;
	font-size:large;
	color:#C60;
	font-family: 'ColaborateThinRegular', Arial, sans-serif;
}
#title1 {
	margin-bottom: 20px;
	font-size:large;
	color:#C03;
	font-family: 'Inconsolata', Courier, monospaced;
	font-weight:bold;
	font-size: xx-large;
}


#facets {
	float: left;
	width: 11%;
}

#results2 {
	/*
	float: right;
	width: 17%;
	*/
	position: fixed;
    top:14%;
	left: 14%;
	width:19%;
}

#results {
	float: right;
	width: 70%;
}


.facet {
	width: 100%;
	margin-bottom: 20px;
}

.facettitle {
	margin-bottom: 10px;
}

.facetitem {
	font-size: 1.4em;
	margin-bottom: 4px;	
}

.facetitemname:hover {
	text-decoration: underline;
	cursor: pointer;
}

.facetitemcount {
	color: #999;
}

.activeorderby, .activefacet {
	color: red;
}
.bottomline {
	padding: 10px 0 10px 0;
	font-weight: bold;
}
.bottomline .orderby, .bottomline .facettotalcount {
	display: inline-block;
}
.bottomline .orderby ul, .bottomline .orderby li {
	display: inline;
	padding: 0;
}
.bottomline .orderby-title {
	margin: 0 0 0 10px;
}
.bottomline .deselectstartover {
	float: right;
}

.item {
	width: 200px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
}

.item img {
	margin-bottom: 10px;
}

.itemtitle {
	margin-bottom: 10px;
}

.items .tags ul {
}

.item .tags li {
	font-size: 1em;
	background-color: #efefef;
	display: block;
	padding: 3px;
	margin-right: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

#results button {
	border: 1px solid #AAA;
	border-radius: 15px;
	background-color: #DDD;
	margin: 0 0 10px 0;
	padding: 10px;
	width: 100%;
	display: block;
	text-align: center;
	cursor: pointer;
}
.facetSelectBox {
	width: 100%;
}
.trigger {
	cursor : help;
	border-bottom: 1px dashed white;	
}
.trigger:hover {
	color: rgb(255,0,0);
}

.tooltip {
	width: 25%;
	padding: 5px;
	background-color: #FFC;
	border: 3px solid rgb(195,151,51);
	border-radius : 5px;
}

.tooltip h2 {
	
}
.tooltip p {
	color: black !important;	
}

.select {
	display: inline-block;
	height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: teal;
    opacity: 0.5;
	color: black;
}

.selection {
	color: #069;
	list-style:circle;
	font-family:"Courier New", Courier, monospace;
	font-weight:bold;
}

.iframe{
	text-decoration: none;
	color:#069;
}
.iframe:hover{
	background-color:#6F9;
}
.imglink:hover{
	background-color:transparent;
}

.ui-dialog,.ui-dialog,.ui-widget, .ui-widget-content, .ui-corner-all, .foo, .ui-draggable, .ui-resizable {
	background:#6CC !important;
}
.ui-dialog-content{
	background:#6CC !important;
	outline-width: 0px !important;
}
.ui-dialog-buttonpane{
	background:#6CC !important;
	outline-width: 0px !important;
}
.ui-dialog-titlebar{
	background:#FCC!important;
}
.ui-button {
	background-color:#FF3 !important;
}
.ui-widget-overlay {
    background: #F90 !important;
	/*background-color: black;*/
    opacity: 0.3;
	filter: Alpha(Opacity=100);
}
#sortable { list-style-type: disc; margin: 0; padding: 0; }
#sortable li { margin-left: 40px; padding-left: 5px; cursor: pointer; margin-bottom: 7px; }
#remove { border: 1px solid #DDDDDD; background: #C9C; padding: 2px; color: white; font-family:Arial, Helvetica, sans-serif; margin:0,0,0,0 }

.fade {
   opacity: 0.5;
   transition: opacity .15s ease-in-out;
   -moz-transition: opacity .15s ease-in-out;
   -webkit-transition: opacity .15s ease-in-out;
}

.fade:hover {
   opacity: 1;
}

.btn {
	display: inline-block;
	padding:10px 15px 11px 15px;
	font-weight:bold;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	border:1px solid rgba(0,0,0,0.4);
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
.btn1 {
	display: inline-block;
	padding:5px 10px 6px 10px;
	font-weight:bold;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	border:1px solid rgba(0,0,0,0.4);
	-moz-border-radius: 15px;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-webkit-border-radius: 120px;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.btn:hover {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	cursor:pointer;
}

.btn1:hover {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	cursor:pointer;
}

/* COLOR VARIATIONS */

.blue		{background-color: #CCCCCC; color: #141414;}
.blue:hover	{background-color: #36F; color: #ffffff;}

.green		{background-color: #CCCCCC; color: #141414;}
.green:hover{background-color: #093; color: #ffffff;}

.red		{background-color: #CCCCCC; color: #141414;}
.red:hover	{background-color: #ff004e; color: #ffffff;}

.purple		{background-color: #CCCCCC; color: #141414;}
.purple:hover	{background-color: #636; color: #ffffff;}

.orange		{background-color: #CCCCCC; color: #141414;}
.orange:hover	{background-color: #F60; color: #ffffff;}

#button-panel {
	
	position:fixed;
	right:5%;
	
}
#logo-panel {
}
